 *{
    box-sizing: border-box;
}
    

body{
    margin: 100px;
    background-color: #312e2e;
}
       
.btn{
    display: inline-block;
    border:  none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
    min-height: 40px;
    text-align: center;
    min-width: 110px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.buttons{
    display: inline-block;
}

.close-btn{
    background-color: #D44637;
    color: white;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.modal{
    height: 300px; 
    width: 520px;
    top: 50%;
    left: 50%;
    margin: -131px 0 0 -258px;   
    border-radius: 5px; 
    position: absolute;
    background-color: #E74C3C;
    text-align: center;
}


header {
    background-color: red;
    justify-content: space-between;
    display: flex;
    padding: 20px 20px 20px;
    background-color: #D44637;
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
    border-radius: 5px;
}

.modal-text{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

    